.playlist-container {
    .title {
        color: $clr4;
        font-family: LatoB;
        padding: 1em;
    }

    .total{
        padding-left:1em;
    }

    .btn-blend {
        margin-top: 1.5em;
        &:hover {
            text-decoration: underline;
        }
    }

    .playlist {
        // overflow-x: hidden;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
        grid-auto-flow: auto;
    }
}

@include for-mobile-layout {
    .playlist-container {
        .playlist {
            grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
        }
    }
}

