.module{
    height: 400px;
    width: 500px;
    left: 30%;
    top: 30%;
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    background-color: rgb(206, 202, 202);
    border: 1.4px solid #2e2d2d;
}